@import "variables";
@import "reset";
@import "media-queries";
@import "layout";
@import "typography";
@import "button";

@import "header";
@import "hero";
@import "points";
@import "cta";
@import "footer";
@import "attribution";

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  line-height: $body-line-height;

  @include mobile {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
